@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes arrow {

    0%,
    10%,
    50%,
    100% {
        transform: translateX(0);
    }

    30%,
    80% {
        transform: translateX(-5px);
    }
}

.group:hover .animate-arrow-on-hover {
    animation: arrow 1.2s infinite;
}

.customImage {
    position: relative !important;
}