@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --purple-color: #6941C6;
    --purple-color-bg: #F9F5FF;
    --black-color: #1A1A1A;
    --blue-color: #3538CD;
    --blue-color-bg: #EEF4FF;

    --pink-color: #C11574;
    --pink-color-bg: #FDF2FA;

    --dark-description-color: #C0c5D0;
    --gray-color: #667085
}

@keyframes arrow {

    0%,
    10%,
    50%,
    100% {
        transform: translateX(0);
    }

    30%,
    80% {
        transform: translateX(-5px);
    }
}

.group:hover .animate-arrow-on-hover {
    animation: arrow 1.2s infinite;
}



@keyframes rotate-right {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes rotate-left {
    to {
        transform: rotate(0);
    }

    from {
        transform: rotate(1turn);
    }
}